+++
abstract = "In this paper, a novel approach for the verification of offline handwritten signatures is proposed. Despite tremendous growth of digital technologies in the last 4 decades, the most used authentication method today remains to be handwritten signature. It is the most natural method of authenticating a person's identity as compared to other biometric and cryptographic forms of authentication. We propose a method for verifying the signatory's identity by using Zernike Moments as global shape descriptors. Zernike Moments are image moments that are rotation invariant. The moments are also orthogonal on a unit circle which ensures minimum redundancy between the features representing the object shape. The features extracted in our approach have a relatively low dimensionality as compared to other studies, while retaining high representation power of the moments. Moreover, the module developed using our approach was able to demonstrate high performance coupled with low computation times in testing phase, making it suitable for real time applications. Experiments show high overall performance of our approach with an equal error rate EER of 13.42% and area under the curve Az equal to 0.84 using 1564 images from the NFI SigComp2009 dataset."
abstract_short = "A novel handwritten signature verification system was proposed in this paper which exploited the rotation invariant properties of Zernike Moments as image features. The features were used to train a Neural Network to classify between an original or forged version of a signature. This project was a collaboration with my junior Harman Preet Kaur, who happens to be a research enthusiast. This work was subsequently presented in poster form ublished as her first paper in her sophomore year."
authors = ["Harman Preet Kaur*", "Anmol Sharma*", "*Both authors contributed equally.*"]
date = "2015-12-16"
image = "sig.png"
image_preview = ""
math = true
publication = "In  IEEE Fifth National Conference on Computer Vision, Pattern Recognition, Image Processing and Graphics (NCVPRIPG), 2015"
publication_short = "In *NCVPRPIG 2015* "
selected = true
title = "Offline Handwritten Signature Verification using Zernike Moments"
url_pdf = "http://ieeexplore.ieee.org/document/7489949/"
+++

